/* this is mostly to make the "Book Breakdowns" hero text fit nicely on different screen sizes */
$size-1: 4rem !default
$size-2: 2.5rem !default
$size-3: 2rem !default
$size-4: 1.5rem !default
$size-5: 1.25rem !default
$size-6: 1rem !default
$size-7: 0.75rem !default
$grey-dark: #42464c

/* this is to use the special font I got from google fonts, used in body text */
$family-sans-serif: 'Work Sans', sans-serif

/* this is to decrease the padding on sections. mostly so there's more writing space on mobile  */
$section-padding: 3rem 1rem !default

$body-size: 20px

@charset "utf-8"
/*! bulma.io v0.5.0 | MIT License | github.com/jgthms/bulma */
@import "node_modules/bulma/bulma"

.container
  max-width: 900px

.subtitle
  font-weight: 300
  /* this is because sub-titles bump up too close to the main title */
  padding-top: 10px

.page-title
  @extend .subtitle
  line-height: 1.25
  font-weight: 400
  margin-bottom: 10px
  padding-top: 0

.page-subtitle
  @extend .subtitle
  padding-top: 0

.is-75x75
  height: 75px
  width: 75px

.heroicon-outline {fill: #303034;}
.heroicon-shadow {fill: #303034; opacity:0.4;}
.heroicon-component-fill {fill: #FFFFFF;}
.heroicon-component-accent {fill: #7ACFC0;}
