{{ define "main" }}

<section class="section">
  <div class="container">
    <h1 class="title is-2">{{ .Title }}</h1>

    {{ range sort .Paginator.Pages }}

    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <h2 class="title is-4"><a href="{{ .Permalink }}">{{ .Params.shortTitle }}</a></h2>
            <p class="subtitle is-6">By {{ .Params.Author }}</p>
          </div>
        </div>

        <div class="content">
          {{ .Summary | plainify | safeHTML }}
          ...
          <br/>
          <small>Posted: {{ .Date.Format "January 2, 2006" }}</small>
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item" href="{{ .Permalink }}">Read More</a>
        <a class="card-footer-item" href="{{ .Params.Amazon }}">Amazon</a>
      </footer>
    </div>
    <br/>
    {{ end }}
  </div>
</section>
 {{ partial "pager" . }}

{{ end }}


