{{ define "main" }}
<section class="hero" >
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ .Title }}
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    {{ range sort .Paginator.Pages }}

    <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">John Smith</p>
            <p class="subtitle is-6">By {{ .Params.Author }}</p>
          </div>
        </div>

        <div class="content">
          {{ .Summary | plainify | safeHTML }}
          ...
          <br/>
          <small>Posted: {{ .Date.Format "January 2, 2006" }}</small>
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item" href="{{ .Permalink }}">Read More</a>
        <a class="card-footer-item">Buy The Book</a>
      </footer>
    </div>
    <br/>
    {{ end }}
  </div>
</section>
 {{ partial "pager" . }}

{{ end }}


