{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="card">
      <div class="card-content">
        <div class="content">
          <h1 class="title is-1">{{ .Title }}</h1>
          <h2 class="subtitle is-2">
            By {{ .Params.Author }}
          </h2>

          {{ .Content }}

          <br/>

          <p>
            <small>Posted: {{ .Date.Format "January 2, 2006" }}</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
