<footer class="footer">
  <div class="container">
    <div class="content">
      <div class="columns">
        <div class="column is-two-thirds-desktop">
          <div class="columns">
            <div class="column">
              <a href="/" class="has-text-light">Home</a>
            </div>
            <div class="column">
              <a href="/post" class="has-text-light">Posts</a>
            </div>
            <div class="column">
              <a href="/newsletter" class="has-text-light">Newsletter</a>
            </div>
            <div class="column">
              <a href="/contact" class="has-text-light">Contact</a>
            </div>
            <div class="column">
              <a href="/terms" class="has-text-light">Terms</a>
            </div>
            <div class="column">
              <a href="/faq" class="has-text-light">FAQ</a>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-two-thirds-desktop">
          <div class="columns">
            <div class="column is-size-7 has-text-light">
              © 2017 Agena Group, LLC
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
{{ if .Site.GoogleAnalytics }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}

