<footer class="footer is-primary">
  <div class="container">
    <div class="content">
      <div class="columns">
        <div class="column is-two-thirds-desktop">
          <div class="columns">
            <div class="column">
              <a href="/">Home</a>
            </div>
            <div class="column">
              <a href="/post">Posts</a>
            </div>
            <div class="column">
              <a href="/newsletter">Newsletter</a>
            </div>
            <div class="column">
              <a href="/contact">Contact</a>
            </div>
            <div class="column">
              <a href="/terms">Terms</a>
            </div>
            <div class="column">
              <a href="/faq">FAQ</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
{{ if .Site.GoogleAnalytics }}
{{ template "_internal/google_analytics_async.html" . }}
{{ end }}
