{{ define "main" }}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1" style="font-family: 'Eczar', serif;">
                {{ .Site.Title }}
            </h1>
            <h2 class="subtitle is-2">
                {{ .Site.Params.Subtitle }}
            </h2>
        </div>
    </div>
</section>

<div class="section">
    <div class="container">
        <h1 class="title">How Does it Work?</h1>
        <div class="columns">
            <div class="column">
                <div class="card" style="box-shadow: none;">
                    <div class="card-image has-text-centered">
                        <span class="fa-stack" style="font-size: 120px;">
                            <i class="fal fa-circle fa-stack-2x"></i>
                            <i class="fal fa-book fa-stack-1x"></i>
                        </span>
                    </div>
                    <div class="card-content">
                        <div clas="content">
                            <p class="subtitle has-text-centered">
                                blah blah blah blah blah blah blah blah
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card" style="box-shadow: none;">
                    <div class="card-title has-text-centered">
                        <span class="fa-stack" style="font-size: 120px;">
                            <i class="fal fa-circle fa-stack-2x"></i>
                            <i class="fal fa-pencil fa-stack-1x"></i>
                        </span>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <p class="subtitle has-text-centered">
                                blah blah blah blah blah blah blah blah
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card" style="box-shadow: none;">
                    <div class="card-image has-text-centered">
                        <span class="fa-stack" style="font-size: 120px;">
                            <i class="fal fa-circle fa-stack-2x"></i>
                            <i class="fal fa-list-ol fa-stack-1x"></i>
                        </span>
                    </div>
                    <div class="card-content">
                        <div clas="content">
                            <p class="subtitle has-text-centered">
                                blah blah blah blah blah blah blah blah
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <h1 class="title">Section</h1>
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="subtitle">
                            “There are two hard things in computer science: cache invalidation, naming things, and off-by-one errors.”
                        </p>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <span>View on <a href="https://twitter.com/codinghorror/status/506010907021828096">Twitter</a></span>
                        </p>
                        <p class="card-footer-item">
                            <span>Share on <a href="#">Facebook</a></span>
                        </p>
                    </footer>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-content">
                        <p class="subtitle">
                            “There are two hard things in computer science: cache invalidation, naming things, and off-by-one errors.”
                        </p>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <span>View on <a href="https://twitter.com/codinghorror/status/506010907021828096">Twitter</a></span>
                        </p>
                        <p class="card-footer-item">
                            <span>Share on <a href="#">Facebook</a></span>
                        </p>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}